/* ==UserStyle==
@name           Tilweaks
@namespace      https://ecmelberk.com
@version        1.2.1
@description    Tweaks to Tildes' user interface
@author         admicos
@homepageURL    https://tild.es/q0z
@updateURL      https://codeberg.org/admicos/snip/raw/branch/main/usercss/tildes.net/tilweaks.user.styl
@license        MIT
@preprocessor   stylus

@var text       fontSize    "Font Size"   20px
@var text       fontFamily  "Font Family" system-ui

@var checkbox   noSidebarBg  "No Sidebar Background" 1
@var checkbox   sideBtnClear "Clear Sidebar Button"  1

@var checkbox   noZebraStripe "No Alternating Topic Colors" 1
@var checkbox   mainBorder    "Add Border to Main Element"  1
@var checkbox   extraSpacing  "Add Extra Spacing"           1

@var checkbox   noCommentBorder   "No Comment Borders"      1
@var checkbox   depthIndicator    "Comment Depth Indicator" 1
@var checkbox   commentBackground "Comment Background"      1

@var checkbox   hideVotes "Hide Votes" 			     0
==/UserStyle== */
@-moz-document domain("tildes.net") {
    body.theme-atom-one-dark {
        /* handpicked */
        --tw-semitransparent: rgba(222, 222, 255, .075);
    }

    body.theme-black {
        /* handpicked */
        --tw-semitransparent: rgba(255, 255, 255, .075);
    }

    body.theme-white {
        /* handpicked */
        --tw-semitransparent: rgba(0, 0, 0, .035);
    }

    body.theme-dracula {
        /* handpicked */
        --tw-semitransparent: rgba(200, 200, 255, .075);
    }

    body.theme-gruvbox-dark {
        /* handpicked */
        --tw-semitransparent: rgba(255, 200, 200, .05);
    }

    body.theme-gruvbox-light {
        /* handpicked */
        --tw-semitransparent: rgba(200, 150, 128, .125);
    }

    body.theme-solarized-dark {
        /* handpicked */
        --tw-semitransparent: rgba(200, 255, 255, .035);
    }

    body.theme-solarized-light {
        /* handpicked */
        --tw-semitransparent: rgba(0, 0, 0, .035);
    }

    body.theme-zenburn {
        /* handpicked */
        --tw-semitransparent: rgba(200, 200, 200, .05);
    }

    /* Change font size */
    html {
        font-size: fontSize;
    }

    /* Change font family */
    body {
        font-family: fontFamily;
    }

    #sidebar {
        /* Hide sidebar background, make it appear "floating" */
        if noSidebarBg {
            background-color: transparent !important;
        }

        /*
         * Make the "browse the list of groups" button border-only
         * to make it less distracting.
         */
        if sideBtnClear {
            & > .btn-primary:not(:hover) {
                background-color: transparent !important;
                color: var(--button-color);
            }
        }
    }

    /*
     * Give the sidebar some sort of background at smaller screens
     * so the sidebar text doesn't clash with the text of the page
     */
    if noSidebarBg {
        @media (max-width: 840px) {
            #sidebar {
                background-color: inherit !important;
            }
        }
    }

    /* Give the main element a little border to make it appear a little more "contained" */
    if mainBorder {
        main {
            border: 1px solid var(--border-color);
        }
    }

    .topic-listing {
        /*
         * Disable the "zebra striping" of topics,
         * we add spacing to differentiate them instead
         */
        if noZebraStripe {
            & > li:nth-of-type(2n) {
                background-color: transparent !important;
            }
        }

        /* Give topics extra spacing */
        if extraSpacing {
            & > li {
                margin-top: 0.4rem;
            }
        }
    }

    if extraSpacing {
        /* Add some padding to text posts */
        .topic-full-text {
            padding: 0.75rem 0.25rem;
        }

        /* Pull divider closer to post */
        .topic-comments,
        .topic-comments > .divider {
            margin-top: 0.25rem
        }
    }

    /* Disable the default comment borders */
    if noCommentBorder {
        .comment {
            border: 0;
            border-bottom: 0 !important;
        }
    }

    /* Add indicators to nested comments */
    if depthIndicator {
        .comment-tree:not([id="comments"]) {
            border-left: 2px dotted var(--background-secondary-color);
        }

        /* Switch the margin and padding around to make nesting indicators nicer */
        .comment-tree-replies {
            margin-left: 0;
            padding-left: 1rem;
        }
    }

    /* Give the comment text some extra padding to seperate it from the header and actions */
    .comment-text {
        if extraSpacing {
            padding: 0.5rem;

            /* Put a little padding on code blocks */
            & pre {
                padding: .5rem;
            }
        }

        if commentBackground {
            /* Make quotes and code blocks stand out */
            & blockquote,
            & pre,
            & code {
                background-color: var(--background-primary-color) !important;
            }
        }
    }

    /* Give comments their own backgrounds to make them stand out */
    if commentBackground {
        .comment-itself {
            background-color: var(--tw-semitransparent);
        }
    }

    if hideVotes {
        .btn-post-action[data-ic-src*="vote"],
        .btn-post > .comment-votes,
        .topic-voting-label {
            text-indent: -9999px;
            line-height: 0;
        }

        .btn-post-action[data-ic-src*="vote"]::after,
        .btn-post > .comment-votes::after,
        .topic-voting-label::after {
            display: block;
            line-height: initial;
            text-indent: 0;
        }

        .btn-post-action[data-ic-src*="vote"]::after {
            content: 'Vote';
        }

        .btn-post-action[data-ic-src*="vote"][data-ic-verb="DELETE"]::after {
            content: 'Unvote';
        }

        .is-comment-mine .comment-votes {
            display: none;
        }

        .btn-post > .comment-votes::after {
            content: 'Votes Locked';
        }

        .topic-voting-label::after {
            content: 'Vote';
        }

        .topic-voting-votes {
            display: none;
        }

        .topic-voting {
            padding: .5rem 0;
        }
    }

    /*
     * Add Tilweaks notice to the footer
     * Feel free to add your own name if you want :)
     */
    .site-footer-theme-selection:after {
        display: block;
        content: "(Tilweaks by @admicos)";

        margin-top: .25rem;
    }
}
